.logo{display: flex;}
.App {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #ccc 35%, #2c2c2c);
}
.logo-img{margin-right: 20px;}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
    background-color: white;
    display: flex;
}

li{
    list-style: none;
}

